name: release

on:
  push:
    branches: master

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y wget debhelper
      - run: wget -qO- https://packages.kowabunga.cloud/kowabunga.asc | sudo tee /etc/apt/keyrings/kowabunga.asc >/dev/null
      - run: sudo cp kowabunga.sources /etc/apt/sources.list.d/kowabunga.sources
      - run: sudo apt-get update
      - run: ./build.sh
      - name: Release Debian Package
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./packages/*.deb

  publish:
    name: Trigger packages publishing
    needs: debian
    runs-on: ubuntu-latest
    steps:
      - name: Trigger APT repository update
        uses: peter-evans/repository-dispatch@v3
        with:
          token: '${{ secrets.PAT_PACKAGES_WORKFLOW_TOKEN }}'
          repository: kowabunga-cloud/packages
          event-type: Publish-Deb
